<section class="container-form">
  <app-add-form-ui
  [serverError]="serverError$ | async"
  [disabled]="loading$ | async"
  (add)="onCreate($event)"
  (filter)="onFilter($event)"
></app-add-form-ui>
</section>


<section class="container-table">
  <app-todo-list-ui
  [todoData$]="todoData$"
  (remove)="onRemove($event)"
  (edit)="onEditOne($event)"
  (save)="onSaveEditOne($event)"
  (statusChange)="onStatusSelectChange($event)"
></app-todo-list-ui>
</section>

<app-spinner *ngIf="loading$ | async"></app-spinner>
