.form-register {
  background-color: #ffffff;
  box-shadow: 5px 10px 20px 5px #8a92c580;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 440px;
  border: none;
  border-radius: 30px;
}
.container {
  width: 300px;
  padding: 10px;
}
.header {
  margin-top: 20px;
}
.btn-auth {
  margin-left: 10px;
}
.error {
  margin-top: 50px;
  font-weight: 500;
}
.btn {
  display: flex;
  justify-content: center;

}
.filed {
  margin-bottom: 10px;
}
