.icon {
  padding: 0 5px;
}
.spacer {
   flex: 1 1 auto;
}
.logo {
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 4px;
  .r {
    color: #fb4343;
  }
  .g {
    color: #02d302;
  }
  .y {
    color: #f6fa0d;
  }
}
.lang {
  font-size: 14px;
  margin-top: 11px;
  margin-right: 80px;
}
.btn-logout {
  margin-left: 20px;
}
