<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo">
      <span class="r">S</span>
      <span class="g">K</span>
      <span class="y">I</span>
      <span class="g">L</span>
      <span class="y">L</span>
      <span class="r">S</span>
    </span>
    <span class="spacer"></span>
    <div>
      <span>Hi {{ login$ | async }}</span>
      <button mat-raised-button color="primary" (click)="onLogout()">
        <mat-icon class="icon">logout</mat-icon>
        Exit
      </button>
    </div>


  </mat-toolbar-row>
</mat-toolbar>
