.overlay {
  background-color: #00000033;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
