<section class="preface-container">
  <h1 class="preface-title">Preface</h1>
  <p class="preface-content">
    This pet project is created during the practice of learning
    frameworks Angular and NestJs and has server and client parts.
    It's made as a collection of individual features that I add to it
    from simple to more difficult.
  </p>
  <p class="preface-content">
    The project has a registration and authorization procedure,
    after which each user works with his data.
  </p>
  <p class="preface-content">
    The aim of the project is the practical study of technologies of development  and
    representation of my skills when applying for a job.
  </p>

  <h4 class="link-list-title">The source code can be viewed on GitHub at the links:</h4>

  <ul class="link-list">
      <li class="link-item">
        <a href="https://github.com/Viacheslav-ua/skills-client/tree/dev" class=""
        target="_blank" rel="noreferrer noopener">Front-end Here</a>
      </li>
      <li class="link-item">
        <a href="https://github.com/Viacheslav-ua/skills-server/tree/after-refactoring" class=""
        target="_blank" rel="noreferrer noopener">Backend Here</a>
      </li>
      <li class="link-item">
        <a [routerLink]="'/main/resume'">My Resume Here</a>
      </li>
  </ul>

</section>


