<form
  class="form-login"
  [formGroup]="formGroup"
  (input)="onFormChange()"
  (ngSubmit)="onSubmit()"
>
  <h2 class="header">Авторизация на сайте</h2>

  <div class="container">
  <p>
    Вы можете авторизоваться с помощью <br /> Google Account:
  </p>
  <div class="btn">
    <button mat-stroked-button color="primary">
    <b>Google</b>
  </button>
  </div>

  </div>

  <div class="container">
    <p>
      Или зайти для посмотра тестовых данных
    </p>
    <div class="btn">
      <button mat-stroked-button color="primary">
        <b>Войти под тестовым именем</b>
      </button>
    </div>

  </div>

  <div class="container">
    <p>
      Или зайти с помощью e-mail и пароля,
      предварительно зарегистрировавшись:
    </p>
  <mat-form-field class="filed">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="login">
    <mat-error
      *ngIf="formGroup.hasError('required', 'login')"
    >Это поле обязательно</mat-error>
  </mat-form-field>
  <mat-form-field class="filed">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error
      *ngIf="formGroup.hasError('required', 'password')"
    >Это поле обязательно</mat-error>
  </mat-form-field>

  <div class="btn">
    <button
      mat-stroked-button color="primary"
      [disabled]="disabled || formGroup.invalid || !! formError">
      <b>Войти</b>
    </button>
    <button
      class="btn-register"
      mat-stroked-button color="primary">
      <b>Зарегистрироваться</b>
    </button>
  </div>
  </div>




  <div class="error">
    <mat-error *ngIf="formError">{{ formError }}</mat-error>
  </div>


  <!-- {{ formGroup.value | json }} -->

</form>
