<form
  class="form-login"
  [formGroup]="formGroup"
  (input)="onFormChange()"
  (ngSubmit)="onSubmit()"
>
  <h2 class="header">Authorization</h2>

  <div class="container">
    <p>
      You can come in to see the Test data:
    </p>
    <div class="btn">
      <button type="button" mat-stroked-button color="primary" (click)="onLoginTest($event)">
        <b>Sign in under Test login</b>
      </button>
    </div>
  </div>

  <div class="container">
    <p>
      Or log in with your username and password,
      by pre-registering:
    </p>

    <mat-form-field class="filed">
      <mat-label>Enter your login</mat-label>
      <input matInput formControlName="login">
      <mat-error
        *ngIf="formGroup.hasError('required', 'login')"
      >This field is required</mat-error>
    </mat-form-field>

    <mat-form-field class="filed" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"
        formControlName="password">

      <mat-error
        *ngIf="formGroup.hasError('required', 'password')"
      >This field is required</mat-error>

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="btn">
      <button
        mat-stroked-button color="primary"
        [disabled]="submitDisabled">
        <b>Log in</b>
      </button>
      <a
        class="btn-register"
        routerLink="/registration"
        mat-stroked-button color="primary">
        <b>Registration</b>
      </a>
    </div>
  </div>

  <div class="error">
    <mat-error *ngIf="formError">{{ formError }}</mat-error>
  </div>
</form>
